.titleApp{
    text-align:center;
    
    color: #fff;
    flex-direction: column;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: normal; 
    text-shadow: 6px 6px 4px rgba(44, 11, 34, 0.473); 
    font-size: 20px;
    position: relative;
/* text-align: left;  */
font-family: Comic Sans MS; 
font-weight:bold; 
font-size: 30px; 
color: #131210; 
text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}

.conteiner{
    background-image: url("./images.jpg");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   
    height: 100%; 
    overflow: hidden;
    position: relative;
}


.conteiner-info{
    margin-left: 42.4%;
    height: 30px;
    width: 300px;
}
.info{
    margin-top: 60px;
    
    margin: center;
    /* position: relative; */
    border: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #3316d683;
    color: rgb(15, 15, 15);
    border-radius: 20%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.5); 
    text-align:center;
    cursor: pointer;
    width: 240px;
    height: 34px;
    font-size: 22px;
}
.info:hover{
    background-color: #fff;
    border: none;
    color: #220F00;
    font-weight: bolder;
    
    transition: 0.8s; 
}

.hether-conteiner {
    height: 200px;

    /* margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}
.position-shearchBar{
    margin-top: 20px;
    margin-left: 150px;
    height: 60px;
    width: 400px;
}
.filterContainer{
   /*  background-color: #fdf6fc73; */
   margin-left: 170px;
   width: 1600px;
   height: 100px;
   /* margin-top: 20px; */
   
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.title {
    /*  background-color: #fdf6fc73; */
    text-align:left;
    margin-left: 3%;
    color: #fff;
    flex-direction: column;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: normal; 
    text-shadow: 6px 6px 4px rgba(44, 11, 34, 0.473); 
    font-size: 20px;
    position: relative;
    animation:blur 1.75s ease-out infinite;
    text-shadow:0px 0px 5px rgba(214, 24, 24, 0.753),
        0px 0px 7px rgba(172, 52, 52, 0.726);
  }
  
  @keyframes blur{
    from{
        text-shadow:0px 0px 10px rgba(247, 14, 14, 0.733),
        0px 0px 1px rgba(175, 58, 58, 0.664), 
        0px 0px 2px rgba(133, 110, 47, 0.664),
        0px 0px 2px rgba(255, 255, 255, 0.781),
        0px 0px 2px rgba(255, 255, 255, 0.712),
        0px 0px 2px rgba(255, 255, 255, 0.747),
        /* 0px 0px 2px rgba(220, 230, 224, 0.658),
        0px 0px 2px rgba(255, 255, 255, 0.699),
        0px 0px 5px rgba(255, 255, 255, 0.747),
        0px 0px 5px rgba(255, 255, 255, 0.712),
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8, */
        0px -10px 100px #7B96B8;}
  }
    

.line {
    margin-top: 20px;
    border: 0;
    height: 1px;
    border-top: 2px solid #220F00;
    opacity: .2;
    margin: 10px auto 0 auto;
    padding: 0;
} 
.position-create-button{
    
    margin-left: 78.5%;
    margin-top: -50px;
    height: 50px;
    width: 200px;

}
.createButton {
    
    border: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #1b289b83;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.5); 
    text-align:center;
    cursor: pointer;
    width: 140px;
    height: 34px;
    font-size: 12px;
}
    
.createButton:hover{ 
    background-color: #fff;
    border: none;
    color: #220F00;
    transition-delay: 0.2s;
    transition: 0.8s;
}
    




.mainContainer {
    margin-left: 180px;
    height: 1500px;
    width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top:10px;
    /* margin-left: 2%; */
} 

.dogContainer {
    margin: 35px;
    width: 310px;
    height: 560px;
    display: flex;
    text-decoration: none;

}

/* .a:link, a:visited, a:active {
    text-decoration:none;
} */


.a{
    /* margin-top: 70px; */
    width: 300px;
    height: 550px;
    /* margin-left: 50px;
    margin-right: 20px; */
    border-radius: 20px;
}
.select{
    border: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #3316d683;
    color: rgb(15, 15, 15);
    border-radius: 20%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.5); 
    text-align:center;
    cursor: pointer;
    width: 140px;
    height: 34px;
    font-size: 12px;
}

.select:hover{
    background-color: #fff;
    border: none;
    color: #220F00;
    font-weight: bolder;
    
    transition: 0.8s; 
}
.paginado{
    height: 200px;
   
}
.back-position{
   margin-left: 80%;
    height: 200px;
    width: 200px;
    
    /* margin-top: -48px;
    margin-right: -90%; */
}
 
.back-button{
    /* margin-bottom: ; */
    border: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #1b289b83;
    color: #fff;
    border-radius: 20%;
    box-shadow: 0 2px 2px rgba(0,0,0,.5); 
    text-align:center;
    cursor: pointer;
    width: 70px;
    height: 30px;
    font-size: 12px;
}


.back-button:hover{ 
    background-color: #fff;
    border: none;
    color: #220F00;
    
    transition: 0.8s;
}
