*{
  margin: 0px;
}
.background {
    align-items: center;
    background-image: url(./683534.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    /* text-shadow: 2px 2px blanchedalmond; */
    width: 100%;    
}
/* .background h1 {
    color: #001021;
    font-size: 60px;
    font-style: italic;
    
}

.background h3 {
    color: #001021;
    font-size: 40px;
    font-style: italic;
} */
.title-position{
  height: 38%;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 0px;
}
.homeTitle {
    margin-top: 100px;
    text-align: center;
    font-family: monospace;
    font-size: 45px;
    
    color: rgb(237, 255, 71);
   
    text-align:center;
  font-size:6.5em;
  color:rgba(224, 30, 30, 0.685);
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 1.75s ease-out infinite;
  text-shadow:0px 0px 5px rgba(255, 255, 255, 0.753),
      0px 0px 7px rgba(255, 255, 255, 0.726);
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px rgba(247, 14, 14, 0.733),
      0px 0px 1px rgba(255, 255, 255, 0.664), 
      0px 0px 2px rgba(253, 255, 255, 0.664),
      0px 0px 2px rgba(255, 255, 255, 0.781),
      0px 0px 2px rgba(255, 255, 255, 0.712),
      0px 0px 2px rgba(255, 255, 255, 0.747),
      0px 0px 2px rgba(220, 230, 224, 0.658),
      0px 0px 2px rgba(255, 255, 255, 0.699),
      0px 0px 5px rgba(255, 255, 255, 0.747),
      0px 0px 5px rgba(255, 255, 255, 0.712),
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

.buttonPosition{
  height: 60%;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 0px;
}
.inicio{
    background-image: url(./pelota.jpg);
    background-size: cover;
    font-size: 35px;
    font-style:initial;
    text-decoration: rgb(240, 10, 10);
    width: 155px;
    height:155px;
    border-color: rgb(11, 11, 12);
    scrollbar-shadow-color:0px 0px 55px 10px blue;
    margin-left: 35%;
    margin-right: 55%;
    margin-top: 50px;
    background-color: #c5ab14;
    border-radius: 100%;
    box-shadow:0px 0px 55px 10px  rgb(17, 17, 19);
    /* background-image: url("./mundito.png"); */
    background-color: rgba(247, 29, 29, 0.671);
  
  
    box-shadow: inset 0 0 50px rgba(7, 7, 7, 0.6);
    cursor: pointer;
    
  }
  .inicio:hover{
    
    transition: 10;
  transform:scale(1.05);
  box-shadow: inset 0px 2px 25px 10px rgba(19, 153, 43, 0.673);
  }
  